.lead__image {
  padding: 64px 0 0 0 ;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    padding-top: 56px;
  }
}


@media screen and (max-width: 320px) {
  .lead__image {
    padding-top: 40px;
  }
}
